# Visual Studio
.vs/
*.suo
*.sdf
*.opensdf
*.vcxproj.user

# C++ Build
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.aps
*.pch
*.ncb
*.idb
*.res
*.tlb
*.tlh
*.log
*.tlog
*.lastbuildstate
*.buildsucceeded
*.buildfailed
*.cppclean.log
*.manifest
*.manifest.res
*.ipdb
*.iobj

# Other
Thumbs.db
[Dd]esktop.ini

packages/GoogleTestAdapter.0.18.0/
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/
x64/Debug/
